<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2020</key>
	<array>
		<dict>
			<key>transportType</key>
			<dict>
				<key>rawValue</key>
				<string>metro</string>
			</dict>
			<key>fareForTripsFrom1To10</key>
			<integer>38</integer>
			<key>fareForTripsFrom11To20</key>
			<integer>37</integer>
			<key>fareForTripsFrom21To30</key>
			<integer>36</integer>
			<key>fareForTripsFrom31To40</key>
			<integer>35</integer>
			<key>fareForTripsFrom41</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>transportType</key>
			<dict>
				<key>rawValue</key>
				<string>ground</string>
			</dict>
			<key>fareForTripsFrom1To10</key>
			<integer>33</integer>
			<key>fareForTripsFrom11To20</key>
			<integer>32</integer>
			<key>fareForTripsFrom21To30</key>
			<integer>31</integer>
			<key>fareForTripsFrom31To40</key>
			<integer>30</integer>
			<key>fareForTripsFrom41</key>
			<integer>29</integer>
		</dict>
	</array>
	<key>2019</key>
	<array>
		<dict>
			<key>transportType</key>
			<dict>
				<key>rawValue</key>
				<string>metro</string>
			</dict>
			<key>fareForTripsFrom1To10</key>
			<integer>36</integer>
			<key>fareForTripsFrom11To20</key>
			<integer>35</integer>
			<key>fareForTripsFrom21To30</key>
			<integer>34</integer>
			<key>fareForTripsFrom31To40</key>
			<integer>33</integer>
			<key>fareForTripsFrom41</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>transportType</key>
			<dict>
				<key>rawValue</key>
				<string>ground</string>
			</dict>
			<key>fareForTripsFrom1To10</key>
			<integer>31</integer>
			<key>fareForTripsFrom11To20</key>
			<integer>30</integer>
			<key>fareForTripsFrom21To30</key>
			<integer>29</integer>
			<key>fareForTripsFrom31To40</key>
			<integer>28</integer>
			<key>fareForTripsFrom41</key>
			<integer>27</integer>
		</dict>
	</array>
</dict>
</plist>
